.header {
    background-color: black;
    color: white;
    padding: 10px;
    padding-right: 40px;
    border-bottom: 4px solid yellow;
    display: flex;
  }

  .row {
      display: flex;
      flex-wrap: wrap;
  }
  nav {
    padding-left: 62.5px;
  }
  .slogan {
    background-color: grey;
    padding: 30px;
    margin: 0%;
  }


  body {
    font-family: Source Sans;
    margin: 0px;
  }

  a:hover {
    color: yellow;
    background-color: transparent;
}

a:link {
    text-decoration: none;
}
a {
    color: white;
    font-size: 20px;
    
}
ul {
    list-style: none;
}

li { 
    display: inline-block;   
    padding: 30px;
}

p strike {
color: lightgray;   
}

p {
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
}

p span {
border-bottom: 0.5px solid pink;
}

h1 a {
    font-size: 40px;
}

/* .container {
    float: right;
}

.text-block {
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
} */

.background {
    background: url('./images/coworking.jpg');
    width: 100%;   
    height: -webkit-fill-available; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 .layer {
    background-color: rgba(248, 247, 216, 0.7);
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    max-width: 30%;
    text-align:center;
    padding-bottom: 20px;

} 

.createAProfile {
    width: 90%;
    margin: 5px;
    background-color: yellow;
    font-weight: bold;
    overflow: hidden;
    font-family: Oswald;
    font-size: 30px;
}

.createAProfile:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)
}
.container {
    display: flex;
    flex-direction: row;
    height: 30%;
    padding: 20px;  

}


.callToAction {
    font-weight: 300;  
    padding: 10px; 
    
}

.actionButton {
    background-color: grey;
    font-weight: bold;
    width: 90%;
    font-size: 30px;
    font-family: Oswald;
    
}

.actionButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
    font-weight: bold;
}
